{% extends "partials/base.html" %}

{% block content %}
    <div class="grid grid-cols-3 sm:grid-cols-1 pt-10 pr-10 pl-10 ">
        

        <div class="w-full max-w-sm bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700 col-span-2">
            <h1 class="text-2xl text-center pb-5 text-[#4a355b]">{{articles.categorie}}</h1>
            
            <div class="flex flex-col-1  pb-1">
                <img class="w-16 h-16 mb-3 rounded-full shadow-lg" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Bonnie image"/>
                <div class="mt-6 pl-1">
                    <span class="text-sm text-gray-500 dark:text-gray-400">Publié le {{articles.date_creation}}</span>
                    <p class="text-sm font-medium text-gray-900 dark:text-white"> <span class="text-sm text-gray-500 dark:text-gray-400">Par</span> {{articles.auteur}}</p>   
                    
                </div>
            </div>
            
        </div>

        <div class="max-w-3xl bg-white ">
            
                <img class="" src="{{articles.img.url}}" alt="{{articles.titre}}" />
            
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ articles.titre}}</h5>
                </a>
                <p class="mb-5 font-normal text-gray-700 dark:text-gray-400">{{articles.resume}}</p>

                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{articles.contenu}}</p>
                {% if request.user.is_authenticated %}
                
                
                <a href="{% url "list_articles" %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                    </svg>
                    
                    Retour
                      
                </a>
                <a href="{% url "update_articles" articles.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                      
                    Modifier
                    
                </a>
                <a href="{% url "delete_articles" articles.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                      </svg>
                      
                    Supprimer
                    
                </a>
                {% else %}
                    <a href="{% url "list_articles" %}" class="inline-flex items-center px-6 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                        </svg>
                        
                        Retour
                        
                    </a>
                {% endif %}
            </div>
        </div>
        
        <div class="col-span-1">
            {% include "articles/derniere_articles.html" %}

        </div>
    </div>
    
{% endblock %}
