
{% extends "partials/base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<button class="mt-10 ml-10 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        <a href="{% url "add_articles" %}"> Nouvelle article</a>
    </span>
</button> 
{% endif %} 
    <div class="pt-10 pr-10 pl-10 grid grid-cols-1 md:grid-cols-2 sm:grid-cols-1 gap-4"> 
        
        {% if articles %}

        {% for  article in articles %}
        
            <a href="{% url "details_articles" article.id %}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                {{ article.full_name|upper }}<br>
                <img class="object-cover  h-64 md:w-40  rounded-s-lg" src="{{ article.img.url }}" alt="{{article.titre}}">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <ul class="list-disc pl-5">
                        <li class="text-[#a855f7]">{{ article.categorie }}</li>
                    </u>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ article.titre }}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ article.resume }}</p>
                    <p class="mb-3 font-normal text-gray-500 dark:text-gray-500"><span class="text-black">Par</span> {{ article.auteur }} - {{article.date_creation}} <br><span class="text-black"> modifié le</span> {{article.date_updated}} </p>
                </div>
            </a>
            
        {% endfor %}
    </div>   
        <nav aria-label="Page navigation example" class="pt-10 text-center">
            <ul class="inline-flex -space-x-px text-sm">
                    {% if articles.has_previous %}
                    <li>
                        <a href="?page={{ articles.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-[#4a355b] rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Précédant</a>
                      </li>
                      <li>
                        <a href="?page=1" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-[#4a355b] hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                      </li>
                        
                    {% endif %}
            
                    
                    <li>
                        <a href="" class="flex items-center justify-center px-3 h-8 leading-tight text-[#4a355b] bg-white border border-[#4a355b] hover:bg-gray-100 hover:text-[#4a355b] dark:bg-gray-800 dark:border-gray-700 dark:text-[#4a355b] dark:hover:bg-[#4a355b] dark:hover:text-[#4a355b]"> {{ arts.paginator.num_pages }}</a>
                    </li>
            
                    {% if articles.has_next %}
                    <li>
                        <a href="?page={{ articles.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-[#4a355b] bg-white border border-[#4a355b] hover:bg-gray-100 hover:text-[#4a355b] dark:bg-gray-800 dark:border-gray-700 dark:text-[#4a355b] dark:hover:bg-gray-700 dark:hover:text-[#4a355b]">Suivant</a>
                    </li>
                    <li>
                        <a href="?page={{ articles.paginator.num_pages }}" class="flex items-center justify-center px-3 h-8 leading-tight text-[#4a355b] bg-white border border-[#4a355b] rounded-e-lg hover:bg-gray-100 hover:text-[#4a355b] dark:bg-gray-800 dark:border-gray-700 dark:text-[#4a355b] dark:hover:bg-gray-700 dark:hover:text-[#4a355b]">Dernier</a>
                    </li>
                        
                    {% endif %}
        </ul>
    </nav>
            


  
  
        
        {% else %}
          <p> pas d'articles</p>
        {% endif %}            
            
    
    {% include "details/contact.html" %}      
    {% include "partials/footer.html" %} 
{% endblock %}
        

